# Este es un archivo de ejemplo. 
# Renómbralo a 'config.env' y rellena tus datos.
# NO subas el archivo 'config.env' a GitHub.

# --- Credenciales de Telegram ---
TELEGRAM_BOT_TOKEN='TU_TOKEN_DE_TELEGRAM_AQUI'
TELEGRAM_CHAT_ID='@TU_CANAL_O_ID_DE_CHAT_AQUI'

# --- Credenciales de la API de Afiliados de Amazon ---
AMAZON_ACCESS_KEY='TU_ACCESS_KEY_DE_AMAZON_AQUI'
AMAZON_SECRET_KEY='TU_SECRET_KEY_DE_AMAZON_AQUI'
AMAZON_ASSOCIATE_TAG='TU_ID_DE_AFILIADO_AQUI'

# --- País de la tienda de Amazon ---
# Opcional. Si no se especifica, se usará 'ES' por defecto.
AMAZON_COUNTRY='ES'
